/*
filename: stylessheet.css
author: Kiahok, James, Duc, Jonah,
created: 10/09/2025
last modified: 26/09/2025
description: style sheets for html
*/


/* CSS Variable */
 :root { /* :root is a Pseudo-Class Selector and will overwrite html rule but mainly use for variable*/
  --crimson_red: rgb(201, 38, 74);
  --bar_width: 35px;
  --bar_height: 6px;
  --hamburger_gap: 3px;
  --foreground: black;
  --background: white;
  --hamburger_margin: 30px;
  --animation_timing: 200ms ease-in-out;
  --hamburger_height: calc(var(--bar_height) * 3 
  + var(--hamburger_gap) * 2);
  --border_radius: 10px;
}

/* Global CSS */

* { /* Font family for the site [I asked AI to pick some of the most common used font and enter them here] */
  font-family: "Segoe UI", "Roboto",
  "Helvetica Neue", "Arial", "sans-serif",
  "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
}

/* ------------------- Start of the header ------------------- */

header { /* Makes the header stick to the top of the screen */
  position: sticky;
  /* display: flex; */
  top: 0;
  z-index: 100;
  max-height: fit-content;
  background-color: var(--background);
  /* border-radius: var(--border_radius); */
}

.header_container { /* Flex container containing all 3 parts of the header */
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.nav_container { /* Flex container containing the 1/3 of the header */
  flex-grow: 1; /* This give space to the first container */
  flex-basis: 0; /* This make sure that the content won't affect the space given above */
}

.nav_container ul { /* This block remove the list style and makes the list to a horizontal*/
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav_container li { 
  padding-left: 15px;
}

.nav_container li a { 
  text-decoration: none;
  color: black;
}

.nav_container li a.activePage { /* Underline the current page, make sure to add .activePage to the page current anchor link for this to work. */
  text-decoration: underline;
  font-weight: bold;
}

/* Makes the logo and the text below it */
.logo_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.logo_container p {
  font-size: clamp(8px, 2vw, 16px);
  padding: 0;
  margin: 0;
}

#logo {
  min-width: 4em;
  max-width: 15%;
}

.right_spacer { /* spacer for the right side of the header to make logo centered */
  flex-grow: 1; 
}

.hamburger_menu {
  display: none;
}

/* ------------------- End of the header ------------------- */

/* ------------------- aside ------------------- */

aside {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0.8em;
  margin: 0.5vw;
  text-align: center;
  background-color: var(--crimson_red);
  border-radius: var(--border_radius);
}

/* ------------------- End of aside ------------------- */

/* ------------------- footer ------------------- */

footer {
  /* display: flex; */
  background-color: var(--background);
  max-height: fit-content;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  margin: 0.3em;
  width: 2em;
}

/* ------------------- End of footer ------------------- */

/* ------------------- page consistency setup ------------------- */

html, body {
  height: 100%; /* Ensures HTML and body fill the entire viewport */
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

header {
  flex-grow: 1;
  padding: 0.5em;
}
main {
  flex-grow: 1; /* Allows the main content to take up all available space */
}

footer {
  flex-grow: 1;
  padding: 0.5em;
}

fieldset {
  border-radius: var(--border_radius);
}

h1 {
  padding: 0;
  margin: 0;
}

/* ------------------- End of page consistency setup ------------------- */

/* ------------------- mobile/tablet view setup ------------------- */

/* for jobs page */

@media (max-width: 768px) {
  .jobs_container {
    padding: 0;
    margin: 0;
  }
  
  .jobs_selection {
    margin: 0;
    padding: 0;
  }
  
  .jobs {
    padding: 0;
    margin: 0;
    margin-bottom: 0.8em;
    min-height: 20em;
  }

  aside {
    margin-left: 1vw;
  }

/* for jobs page */

  .nav_container {
    display: none;
  }

  .right_spacer {
    display: none;
  }
  .hamburger_menu {
  display: flex;
  }
}

/* ------------------- End of mobile/tablet view setup ------------------- */
/* ------------------- About page ------------------- */
.group-photo {
    position: relative;
    border-radius: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.grname {
    float: left;
    text-align: justify;
    width: 80%;
}

.about-section {
  
  text-align: center;
  margin: auto;
  width: 80%;
  margin-bottom: 20px; /* Space between sections */
  padding: 10px; /* Padding inside each section */
  border: 1px solid #ccc; /* Optional border for visual separation */
  border-radius: var(--border_radius); /* Rounded corners */
  background-color: #f9f9f9; /* Light background color */
}
.photo-box {
  margin: 0;
  text-align: center;
}
.photo-box {
  width: 200px;
  height: 200px;
  overflow: hidden;
  object-position: right;;
  margin: 10px;
  border: 2px solid var(--crimson_red);
}
.photo-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* crop instead of stretch */
}

  .about-section {
    text-align: center;
    margin: auto;
    width: 80%;
    margin: 20px; /* Space between sections */
    border: 5px solid var(--crimson_red);
    padding: 10px;
  }
  .about-section dl {
  margin: 0 0 20px 0;
  padding-left: 20px;
  text-align: left;
  }
  .about-section dt {
  font-weight: bold;
  margin-top: 8px;
  text-align: left;
  }
  .about-section dd {
  margin-left: 0;
  margin-bottom: 6px;
  text-align: left;
  }
img {
  display: flex;
}
.about-section ul {
  text-align: left;
}
.about-section li {
  text-align: left;
  margin-bottom: 6px;
}
.about-section thead {
  font-style: italic;
}
.about-section table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
} 
.about-section th, .about-section td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
  /* ------------------- End of About page ------------------- */

  /* ------ Hamburger menu from this tut: https://youtu.be/dAIVbLrAb_U ------*/ 

label[for="hamburger"] span {
  display: none;
}

.hamburger_menu[for="hamburger"] {
  --x_width: calc(var(--hamburger_height) * 1.41421356237);
  flex-direction: column;
  gap: var(--hamburger_gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger_margin);
  left: var(--hamburger_margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger_menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger_menu::before, .hamburger_menu::after, .hamburger_menu input {
  content: "";
  width: var(--bar_width);
  height: var(--bar_height);
  background-color: var(--foreground);
  border-radius: 900px;
  transform-origin: left center;
  transition: opacity var(--animation_timing), width var(--animation_timing),
  rotate var(--animation_timing), translate var(--animation_timing),
  background-color var(--animation_timing);
}

.hamburger_menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x_width);
  translate: 0 calc(var(--bar_height) / -2);
}

.hamburger_menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x_width);
  translate: 0 calc(var(--bar_height) / 2);
}

.hamburger_menu input:checked {
  opacity: 0;
  width: 0;
} 

.sidebar {
  translate: -150%;
  transition: translate var(--animation_timing);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: calc(var(--hamburger_margin) + var(--hamburger_height) + 0.5rem);
  padding: calc(var(--bar_width) / 2);
  background-color: var(--crimson_red);
  color: var(--background);
  max-width: 10rem;
  text-align: center;
  border-radius: 10px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar li {
  padding-bottom: 10px;
  padding-top: 10px;
}

.sidebar li a.activePage { /* Underline the current page, make sure to add .activePage to the page current anchor link for this to work. */
  text-decoration: underline;
  font-weight: bold;
}

.hamburger_menu:has(input:checked) + .sidebar { /* the + is adjacent sibling combinator only works if they are sibling in the html */
  translate: 0;
} 

/* ------------------- End of hamburger menu ------------------- */

/* ------------------ Jobs Page ------------------ */

.jobs_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  align-content: space-evenly;
  margin: 0.8em;
}

.jobs_selection {
  display: flex;
  flex-basis: 75%;
  flex-direction: column;
  margin: 0.5vw;
}

.jobs {
  display: flex;
  flex-direction: column;
  padding: 1em;
  min-height: 13em;
  border: 0.2em;
  margin-bottom: 1vh;
  border-style: solid;
  border-radius: var(--border_radius);
  border-color: var(--crimson_red)
}

.jobs .job_title .job_desc .job_meta{
  display: block;
}

.job_info {
  display: none;
}

.jobs:hover {
  cursor: pointer;
  border: 0.2em;
  border: solid black; /* Correct border syntax */
}

.jobs:hover .job_desc,
.jobs:hover .job_meta {
  display: none;
}

.jobs:hover .job_info {
  display: block;
}

.apply_link {
  text-decoration: none;
  color: black;
}

/* ------------------ End of Jobs Page ------------------ */

/* ------------------ Start of Index Page ------------------ */
/*Main Contanier for both panels. Places in a row, nowrap ensures same line*/
.index_container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.8em;
}
/*Left Panel with background image, logo, company name and slogan*/
.index_leftpanel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 65%;
  min-height: 40vh;
  /*Image generated with ChatGPT: "High View, Tropical but rainy mountain"*/
  background-image: url('../images/Mountain.png');
  background-size: cover;
  background-position: center;
  padding: 0.8em;
  margin-right: 0.8em;
  border-radius: var(--border_radius);
}

.index_text-overlay img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.index_text-overlay h1 {
  font-size: clamp(2rem, 5vw, 3rem); /* Responsive font size: minimum, preferred 5% of viewport, Max *//*Learnt through Copilot*/
  color: #436B64; /*This Colour was chosen to creat a more accessible contrast*/
  text-shadow: 3px 2px 4px rgba(115, 164, 152, 0.7);
  margin: 0.5em 0;
}

.index_text-overlay h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--crimson_red);
  text-shadow: 1px 1px 2px #fff, 0 0 1px #000; /* Add subtle black shadow for outline */
}

.index_rightpanel {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  width: 35%;
  padding: 0.8em;
  justify-content: center;
  text-align: center;
  background-color: var(--crimson_red);
  border-radius: var(--border_radius);
}

/* ------------------ End of Index Page ------------------ */

/* ------------------ Apply Page ------------------ */

.background-red{
    display: inline-block;
    background-color:  var(--crimson_red);
    color: lightgray;
    text-align: center;
    position: relative;
    border-radius: 25px;
    left: 50%;
    transform: translateX(-50%);
    height: fit-content;
    width: 600px;
}

.background-red form {
  text-align: left;
  width: 100%;
}

.align_right {
  display: flex;
  margin: 0 auto;
}

.background-red form label {
  padding-right: 20px;
  padding-left: 20px;
}

.flex-break {
  display: flex;
  flex-basis: 100%; 
  height: 0;
  padding-top: 10px;
}

.background-red footer {
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #eee;
}

#submitButton {
  margin-top: 20px;
  border-color: #eee;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 15px;
}

.background-red textarea { resize: none;}

.background-red label {
  color: white;
}

.background-red fieldset {
  margin: 1vw;
}

.background-red h1 {
  color: white;
  margin-bottom: 10px;
}
.background-red legend {
  color: white;
}

/* ------------------ End of Apply Page ------------------ */
